* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: whitesmoke;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: rgb(50, 170, 250);
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li:hover {
    color: rgb(14, 121, 193);
}

#logo {
    width: 80px;
    height: auto;
}

h1 {
    color: rgb(14, 121, 193);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner {
    background-image: url('./bannerRH1') ;
    background-position: 50% 50%;
    background-size:cover;
    width: 100%;    
    height: 250px;
}

#explica-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content:center;
}

.content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video {
    width: 50%;
    height: auto;
}

#explica {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 30px;
}

.description {
    color: #333;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    width: 80%;
}

.button {
    width: 160px;
    height: 40px;
    background-color: rgb(50, 170, 250);
    color: aliceblue;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(14, 121, 193);
    color: whitesmoke;
}

footer {
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}

span {
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    h1 {
        font-size: 100%;
    }

    nav {
        display: none;
    }

    #banner {
        background-image: url(../midias/img/banner.jpg);
        background-position: 13.5%;
        margin-bottom: 90px;
    }

    #explica-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .video {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    #explica {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #logo {
        width: 60px;
        height: auto;
        margin-top: 30px;
    }
}