main {
  max-width: 1440px;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  /* width: 500px; */
  margin: 50px auto;
  padding: 25px;
  border-radius: 25px;
  border: 3px solid #cccccc;
  background-color: #ffffff;
  font-size: 18px;
  color: #222222;
}

.form-control {
  margin-bottom: 10px;
}

.form-container h1 {
  margin-bottom: 25px;
  color: #222222;
  text-align: center;
}

.form-control label {
  font-weight: 700;
  color: #32aafa;
  margin-left: 20px;
}

.form-control input,
select {
  width: 100%;
  background-color: #d7eefc;
  color: #222222;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 5px;
  border: 1px solid #cbcbcb95;
  border-radius: 25px;
}

.form-control input:focus-visible {
  outline: 1px solid #32aafa;
}

.form-control select:focus-visible {
  outline: 1px solid #32aafa;
}

.form-control select option {
  color: #222222;
}

.form-control #message {
  width: 100%;
  height: 150px;
  background: #d7eefc;
  font-size: 18px;
  color: #222222;
  border-radius: 25px;
  /* border: 1px solid #cbcbcb95; */
  padding: 20px;
  margin-top: 5px;
  resize: none;
}

.form-control #message:focus-visible {
  outline: 1px solid #32aafa;
}

.send-button {
  width: 100%;
  background-color: #32aafa;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.send-button:hover {
  background-color: #0e79c1;
  color: #ffffff;
}

/* ----ERRO VALIDACAO---- */

.form-control small {
  margin-left: 20px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  color: #ff0000;
  font-size: 13px;
}

.form-control.success small {
  visibility: hidden;
}

.form-control .erro-preenchimento {
  border: 1px solid #ff0000;
}

/* ALERTA ACERTO */

.form-control .sucesso-preenchimento {
  border: 1px solid #159c32;
}
