@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32aafa;
  padding: 0 20px;
  margin-bottom: 12px;
}

.header .logo-header {
  width: 100px;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #222222;
}

.sub-menu-1 {
  display: none;
}

nav ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: #32aafa;
  margin-top: 15px;
  margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul {
  display: block;
}

nav ul li:hover .sub-menu-1 ul li {
  width: 140px;
  text-align: center;
  border-radius: 10px;
  transition: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover {
  background-color: #0e79c1;
}

.form-container {
  margin: 20px auto;
  width: 500px;
  padding: 25px;
  border-radius: 25px;
  background-color: #ffffff;
  font-size: 18px;
  color: #222222;
  border: 3px solid #cccccc;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}

.form-container h1 {
  margin-bottom: 25px;
  color: #222222;
}

.form-container h1::after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: #32aafa;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.form-container label {
  color: #32aafa;
  margin-left: 15px;
}

.form-container input,
select {
  width: 100%;
  background-color: #d7eefc;
  color: #222222;
  font-size: 16px;
  padding: 15px 15px 10px;
  margin-top: 15px;
  border: 1px solid #cbcbcb95;
  border-radius: 25px;
  overflow: hidden;
}

.form-container input:focus-visible {
  outline: 1px solid #32aafa;
}

.form-container select:focus-visible {
  outline: 1px solid #32aafa;
}

.form-container select {
  margin-bottom: 18px;
}

.form-container select option {
  color: #222222;
}

.form-container #mensagem {
  width: 100%;
  height: 150px;
  background: #d7eefc;
  font-size: 18px;
  color: #222222;
  border-radius: 25px;
  border: 1px solid #cbcbcb95;
  padding: 15px;
  margin-top: 15px;
  resize: none;
}

.form-container #mensagem:focus-visible {
  outline: 1px solid #32aafa;
}

.send-button {
  width: 100%;
  height: 30px;
  background-color: #32aafa;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 8px 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}

.send-button:hover {
  background-color: rgb(14, 121, 193);
  color: #ffffff;
}

footer {
  background-color: #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 5px solid #ccc;
}

footer h2,
p,
a {
  color: #222222;
}

footer span {
  color: #0e79c1;
}

footer h2 {
  font-weight: bold;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-box {
  width: 31%;
  padding: 1%;
}

.footer-box h2,
p {
  margin-bottom: 15px;
}

.company-footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-footer img {
  width: 80px;
  margin-bottom: 10px;
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-list a {
  transition: 0.5s;
  color: #0e79c1;
}

.footer-list a:hover {
  color: #222222;
}

.footer-list span {
  transition: 0.5s;
  color: #0e79c1;
}

.footer-list span:hover {
  color: #222222;
}

.articles-footer {
  width: 80%;
}

.footer-list.footer-articles-list span {
  display: block;
}

.fab {
  font-size: 30px;
  margin-left: 10px;
}

.footer-bottom {
  border-top: 1px solid #ccc;
}

.footer-bottom {
  width: 100%;
  font-weight: 600;
  padding-top: 40px;
  padding-left: 80px;
}

.footer-bottom p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .header nav {
    width: 90%;
  }

  .header nav ul {
    gap: 20px;
  }

  .header nav ul li {
    font-size: 16px;
  }

  .form-container {
    width: 80%;
  }

  .form-container #mensagem {
    width: 90%;
  }
}
