.header .menu {
  display: none;
  width: 60px;
  height: 60px;
  align-self: flex-end;
}

.header nav label {
  display: flex;
  flex-direction: column;
}

.header .hamburguer {
  background-color: #fff;
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.header .hamburguer::before,
.header .hamburguer::after {
  background-color: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.header .hamburguer::before {
  top: -10px;
}

.header .hamburguer::after {
  bottom: -10px;
}

.header input {
  display: none;
}

/* quando clicar no label rotacione 45 graus  */
.header input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

/* quando clicar no label rotacione o before em 90 graus  */
.header input:checked ~ label .hamburguer::before {
  transform: rotate(90deg);
  top: 0;
}

/* quando clicar no label rotacione o after em 90 graus  */
.header input:checked ~ label .hamburguer::after {
  transform: rotate(90deg);
  bottom: 0;
}

@media (max-width: 900px) {
  .header .menu {
    display: block;
  }

  .header nav .main-ul {
    display: none;
  }

  .header input:checked ~ .main-ul {
    display: block;
  }

  .header nav {
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 1;
  }

  .header nav .main-ul {
    width: 200px;
    background-color: #32aafa;
    padding: 20px;
  }

  .header nav .main-ul a {
    text-align: center;
    padding: 20px;
    display: block;
  }
}
