@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32aafa;
  padding: 0 20px;
  margin-bottom: 12px;
}

.header .logo-header {
  width: 100px;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #222222;
}

.sub-menu-1 {
  display: none;
}

nav ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: #32aafa;
  margin-top: 15px;
  margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul {
  display: block;
}

nav ul li:hover .sub-menu-1 ul li {
  width: 140px;
  text-align: center;
  /* border-radius: 10px; */
  transition: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover {
  background-color: #52b6f8;
}

/* .banner {
  background-image: url("../img/bannerRH.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 350px;
} */

.form-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.search-form {
  width: 90%;
  margin: 30px auto;
  padding: 25px;
  border: 3px solid #cccccc;
  border-radius: 25px;
  background-color: #ffffff;
  font-size: 18px;
  color: #222222;
}

.search-form h1,
p {
  margin-left: 15px;
  margin-bottom: 20px;
  color: #222222;
}

.search-form h1 {
  font-size: 46px;
}

.search-form p {
  font-size: 22px;
}

.search-form h1::after {
  content: "";
  display: block;
  width: 2.1rem;
  height: 0.3rem;
  background-color: #32aafa;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.search-form input,
select {
  width: 100%;
  background-color: #d7eefc;
  color: #222222;
  font-size: 16px;
  padding: 15px 15px 10px;
  border: 1px solid #cbcbcb95;
  border-radius: 25px;
  overflow: hidden;
}

.search-form input[type="submit"] {
  background-color: #32aafa;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.search-form input[type="submit"]:hover {
  background-color: #0e79c1;
}

.search-form input:focus-visible {
  outline: 1px solid #32aafa;
}

.search-form select:focus-visible {
  outline: 1px solid #32aafa;
}

#lastjobs-container::before {
  content: "";
  display: block;
  width: 86%;
  height: 2px;
  background-color: #cccccc;
  margin: 20px 0;
  position: absolute;
}

#lastjobs-container {
  text-align: center;
  padding: 20px 0;
}

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#lastjobs-container h2 {
  font-size: 42px;
  margin: 50px 0;
}

#lastjobs-container ul {
  padding: 0;
  border-radius: 25px;
}

#lastjobs-container ul li {
  text-align: left;
  border-bottom: 2px solid #ccc;
  height: 90px;
  position: relative;
}

#lastjobs-container ul li:last-child {
  border: none;
}

.clickarea {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

.company-box {
  display: inline-block;
  width: 50%;
  position: relative;
  padding-left: 3%;
}

.company-box img {
  width: 90px;
  transition: all 0.3s ease;
}

.company-box img:hover {
  width: 90px;
  transform: scale(1.6);
}

.company-box .company-info {
  display: inline-block;
  margin-left: 80px;
  margin-top: 13px;
  text-align: left;
  position: absolute;
}

.company-box .company-info h3 {
  font-weight: 300;
  margin-bottom: 10px;
  color: #0e79c1;
}

.company-box .company-info p {
  font-weight: bold;
  margin-left: 0px;
}

.locality {
  color: #0e79c1;
  display: inline-block;
  width: 25%;
  position: absolute;
  height: 100%;
  line-height: 90px;
}

.locality i,
p {
  display: inline-block;
}

.locality i {
  margin-right: 5px;
}

.job-type {
  display: inline-block;
  width: 20%;
  height: 100%;
  position: absolute;
  padding-top: 25px;
  right: 3%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

.job-type span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 20px;
  border-radius: 25px;
  color: #ffffff;
  padding: 6px;
}

.clt-presencial {
  background-color: #0e79c1;
}

.clt-remoto {
  background-color: #32aafa;
}

.pj-remote {
  background-color: #444444;
}

.pj-presencial {
  background-color: #222222;
}

.btnjobs-container {
  margin-top: 25px;
}

.btnjobs-container a {
  font-size: 24px;
  list-style: none;
  color: #222222;
  transition: all 0.3s ease-in-out;
}

.btnjobs-container a:hover {
  color: #32aafa;
}

footer {
  background-color: #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 5px solid #ccc;
}

footer h2,
p,
a {
  color: #222222;
}

footer span {
  color: #0e79c1;
}

footer h2 {
  font-weight: bold;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-box {
  width: 31%;
  padding: 1%;
}

.footer-box h2,
p {
  margin-bottom: 15px;
}

.company-footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-footer img {
  width: 80px;
  margin-bottom: 10px;
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-list a {
  transition: 0.5s;
  color: #0e79c1;
}

.footer-list a:hover {
  color: #222222;
}

.footer-list span {
  transition: 0.5s;
  color: #0e79c1;
}

.footer-list span:hover {
  color: #222222;
}

.articles-footer {
  width: 80%;
}

.footer-list.footer-articles-list span {
  display: block;
}

.fab {
  font-size: 30px;
  margin-left: 10px;
}

.footer-bottom {
  border-top: 1px solid #ccc;
}

.footer-bottom {
  width: 100%;
  font-weight: 600;
  padding-top: 40px;
  padding-left: 80px;
}

.footer-bottom p {
  font-size: 14px;
}
